:root{
    --game-background: #0BDEB4;
    --game-table-border:#AAF5C6;    
}

@font-face{
    font-family: PressToStart;
    src: url("../Fonts/PressStart2P-Regular.ttf");
}

html, body{
    margin: 0;
    padding: 0;
    width: 100vw;
    height: 100vh;
    display: flex;    
    flex-direction: column;
    font-family: PressToStart;
}

table{
    border: 15px solid var(--game-table-border);
    background-color: white;
    border-radius: 15px;
    margin: 0px 15px;
    margin-bottom: 15px;
    text-align:center
}

.game-background{
    background-color: var( --game-background)
}

.points-label{
    margin: 0;
    margin-bottom: 5px;
    color: white;
    text-align: center;
    margin: 0 15px;
}

.div-points{
    margin: 10px;
    flex-direction: row;
    display: flex;
    justify-content: center
}